.abc {
  p {
    background-color: lightcyan;
  }
}

nav {
  font-size: 24px;
  ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    li {
      margin: 0 20px;

      &.is-active {
        background-color: #7a7a;
      }
    }
  }
}
